# Local stuff
.DS_Store
.ipynb_checkpoints/

# Input data
small_traffic_dataset/
data/

# Output (too big)
*.dump.csv
*.dump.xml
*.edgedata.xml
*.sampledRoutes.xml
*.edgedata.csv
*.pdf
*.png

# Misc
old/
test/
results/
__pycache__/
